<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json"
         protocolVersion="4" />
    <add key="MagiqMobile"
         value="https://pkgs.dev.azure.com/MAGIQSoftware/_packaging/MagiqMobile/nuget/v3/index.json"
         protocolVersion="4" />
  </packageSources>
  <packageSourceCredentials>
    <MagiqMobile>
      <add key="Username" value="%usr%" />
      <add key="ClearTextPassword" value="%pwd%" />
    </MagiqMobile>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
